service: m2m-token-redis-storage
provider:
  name: aws
  stage: ${opt:stage, 'test'}
  vpc:
   securityGroupIds:
    - ${file(./config/${self:provider.stage}.json):VPC_SECURITY_GROUP_ID_1}
    - ${file(./config/${self:provider.stage}.json):VPC_SECURITY_GROUP_ID_2}
   subnetIds:
    - ${file(./config/${self:provider.stage}.json):VPC_SUBNET_ID_1}
  role: ${file(./config/${self:provider.stage}.json):LAMBDA_ROLE}
  runtime: nodejs12.x
  memorySize: 256
  timeout: 15
  environment:
   REDIS_URL: ${file(./config/${self:provider.stage}.json):REDIS_URL}

functions:
 handler:
   handler: lambda.handler
   name: ${self:provider.stage}-M2M-Token-Redis-Storage # optional, Deployed Lambda name
   description: Auth0 proxy server # The description of your function.
   events:
    - http: ANY /
